/** @format */

.dashboardItem {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  height: fit-content;
  width: fit-content;
  min-width: 200px;
  padding: 6px;
  box-shadow: var(--shadow);
  border-radius: var(--rounded-small);
  transition: all 0.2s;
}

.dashboardItem:hover {
  background-color: var(--stroke);
  scale: 1.06;
  cursor: pointer;
}

.vertical {
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 0.7fr;
  grid-row: span 2;
}

.itemSide {
  text-align: start;
  font-size: small;
}

.iconContainer {
  align-self: center;
}
