/** @format */
@use "/src/global";

.inventoryContainer {
  text-align: center;
  @include global.flex_center(column);
  gap: 12px;
}

.lowerPart {
  width: 80%;
  @include global.flex_center(column);
}

.mainContainer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100%;
}

.mainContainer {
  button {
    width: fit-content;
    height: fit-content;
  }
}

.gridContainer {
  background-color: var(--background);
  padding: 6px 8px;
  margin: 8px;
  border: 1px solid var(--layer);
  border-radius: var(--rounded-small);
  box-shadow: var(--shadow);
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  @include global.flex-center(column);
}
